[include]
  # For user, email, ect.
  path = ~/.gitconfig.local
  ;path = ~/.gitconfig.local_itelo

[color]
  ui = auto

[push]
  default = simple

[core]
  editor = vim

[merge]
  tool = fugitive

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
  keepBackup = false

[alias]
  currentUser = ! git config --list | grep "user" | grep -v "currentUser"

  st = status

  cl = clone
  ls = ls-tree --full-tree -r HEAD

  aa = add --all

  ci = commit
  cm = commit -m
  cma = commit -a -m
  ca = commit --amend
  amend = commit --amend

  pf = push --force

  co = checkout
  br = branch

  pup = submodule foreach git pull

  difflast = diff HEAD^ HEAD
  dl = diff HEAD^ HEAD
  diffword = diff --word-diff
  dw = diff --word-diff
  diff = diff
  d = diff
  dc = diff --cached
  dcw = diff --cached --word-diff

  # list commands
  last = log -1 HEAD

  lg = log --graph --all --format=format:'%C(bold red)%h%C(reset) %C(bold magenta)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold blue) %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
