# Project foldes

# nvim Lazy plugin
#**/lazy-lock.json

# Brew
*/Brewfile.lock.json

################################
# Configurations
################################

# Vim session folder
**/.vim/tmp/
**/.vim/sessions/
**/.vim/bundle/
.vim(*

# vim-plug - vim plugin manager
**/.vim/autoload/
**/.vim/plugged/

# Neovim
configuration/.config/nvim/plugged

# MUTT
**/.mutt/cache/
**/.mutt/password
**/.mutt/passwords
**/.mutt/password.gpg
**/.mutt/passwords.gpg
**/.mutt/certificates
**/.mutt/*.gpg

# Mac specyfic files
**/*.DS_Store

# VIM binary files for spell
*.add.spl
*.swp


# NodeJS
**/node_modules/

# Editor
.idea/
**/*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
