[submodule "lib/dircolors-solarized"]
	path = lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/honukai-iterm-zsh"]
	path = lib/honukai-iterm-zsh
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh.git
[submodule "lib/tmux-gruvbox"]
	path = lib/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox
