# IMPORTANT: includeIf works only with git >= v2.13
# For work user, email, ect.
[includeIf "gitdir/i:~/workspace/"]
  path = ~/.gitconfig.local_work
# For private user, email, ect.
[includeIf "gitdir/i:~/privatespace/"]
  path = ~/.gitconfig.local

[gpg]
  program = /usr/local/bin/gpg

[color]
  ui = auto

[push]
  default = simple

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[merge]
  tool = vimdiff

[diff]
  tool = vimdiff

[alias]
  # show currently using git user
  currentUser = ! git config --list | grep "user" | grep -v "currentUser"

  # diff the last commit
  dl = diff HEAD^ HEAD

  # list commands
  last = log -1 HEAD

  # show files from commit
  sf = git diff-tree --no-commit-id --name-only -r

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

