# IMPORTANT: includeIf works only with git >= v2.13
# For work user, email, ect.
[includeIf "gitdir/i:~/workspace/"]
	path = ~/.gitconfig.work
# For private user, email, ect.
[includeIf "gitdir/i:~/privatespace/"]
	path = ~/.gitconfig.private

[include]
	path = ~/.git-delta-themes

[gpg]
	# select correct program for linux, macOS Intel & Silicon versions
	program = /opt/homebrew/bin/gpg

[color]
	ui = auto

[push]
	default = simple

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	eol = lf
	autocrlf = false
	pager = delta

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	# required for git >= 2.37.0
	useBuiltin = true

[delta]
	# delta theme that match gruvbox theme
	features = gruvmax-fang
	# use n and N to move between diff sections
	navigate = true
	line-numbers = true
	side-by-side = true

###
# More info how to integrate git with visual merge tool
# https://web.archive.org/web/20090328164007/http://gitguru.com/2009/02/22/integrating-git-with-a-visual-merge-tool/
[merge]
	tool = nvimdiff
	# conflictstyle: diff3, merge
	conflictstyle = merge

[mergetool]
	# do not save .orig files after nvimdiff
	keepBackup = false

[diff]
	tool = nvimdiff
	colorMoved = default

[alias]
	# show currently using git user
	currentUser = ! git config --list | grep "user" | grep -v "currentUser"

	# diff the last commit
	dl = diff HEAD^ HEAD

	# diff the last commit (list of files)
	dll = diff HEAD^ HEAD --stat

	# list commands
	last = log -1 HEAD

	# show files from commit
	sf = git diff-tree --no-commit-id --name-only -r

	# show git scopes
	# example: "feat(lib): improve method x", and the scope is "lib"
	scopes = git log --oneline | awk -F'[()]' '/\(/ {print $2}' | sort | uniq

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[rerere]
	enabled = true

# vi: ft=ini fdm=marker tabstop=4 softtabstop=4 shiftwidth=4 noexpandtab
